:root{
    --butt-border-rad:1rem;
}

.gif-wrapper{
    box-sizing: border-box;
    width:100%;
    display: flex;
    flex-direction: column;
    
}

.img-preview{
    width: 350px;
}

.game-name{
    font-weight: 300;
    font-size: 1.2em;
    margin: 0;
    margin: auto;
}

.name-container{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}


.gif-bid-button{
    color: white;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    width:15rem;
    margin-right:auto;
    padding: 7px 0;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    background-color: #4688e4;
    border-radius:var(--butt-border-rad);
    font-size:0.9rem;
    font-weight:bold;
    margin-top: 2em;
}


.gif-bid-button--after{
    position: absolute;
    width:100%;
    height:100%;
    border-radius:calc(var(--butt-border-rad) + 0.3rem);
    pointer-events:none;
}
.gif-bid-button:focus .gif-bid-button--after{
    border:2px solid black;

}
.gif-bid-button:active{
    background-color: rgba(188, 235, 170,0.9);
}
.gif-bid-button:focus{
    outline:none;
    /* border:2px solid rgba(255, 255, 255, 0.302); */
}

.wrapper-button-preview{
    display:flex;
    margin: auto;
}