:root{
    --dark-clr: #2a62b0;
    --light-clr:#F4EFDC;
  }

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  .chess-icon{
    height:125px;
    width:125px;
    border:8px solid #333;
    border-radius:20px;
    background-image:conic-gradient(var(--dark-clr) 0, var(--dark-clr) 90deg,var(--light-clr) 90deg, var(--light-clr) 180deg, var(--dark-clr) 180deg, var(--dark-clr) 270deg,var(--light-clr) 270deg, var(--light-clr) 360deg);
    animation-name:loading;
    animation-duration:5s;
    animation-iteration-count:infinite;
  }
  
  @keyframes loading{
    20% {
      transform:rotate(90deg);
    }
    40%{
      transform:rotate(180deg);
    }
    60%{
      transform:rotate(270deg);
    }
    80%{
      transform:rotate(360deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }